In [14]:
import numpy as np
import pandas as pd
from numpy import array
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

In [15]:
population_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/world_population.csv', index_col='Country Code')
meta_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/metadata.csv', index_col='Country Code')

In [16]:
population_df.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,58386.0,58726.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,10604346.0,10854428.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,6523791.0,6642632.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,2081695.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,21890.0,23058.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [17]:
meta_df.head()

,Region,Income Group,Special Notes
Country Code,,,
ABW,Latin America & Caribbean,High income,Mining is included in agriculture\r\r\r\nElect...
AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...
AGO,Sub-Saharan Africa,Lower middle income,NaN
ALB,Europe & Central Asia,Upper middle income,NaN
AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...

In [29]:
print(meta_df.columns)

Index(['Region', 'Income Group', 'Special Notes'], dtype='object')

In [30]:
print(population_df.columns)

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [18]:
filtered_df = meta_df[meta_df['Income Group'] == 'Low income']
filtered_df.head()

,Region,Income Group,Special Notes
Country Code,,,
AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...
BDI,Sub-Saharan Africa,Low income,NaN
BEN,Sub-Saharan Africa,Low income,NaN
BFA,Sub-Saharan Africa,Low income,NaN
CAF,Sub-Saharan Africa,Low income,The source of national accounts has changed to...

In [19]:
print(filtered_df.columns)

Index(['Region', 'Income Group', 'Special Notes'], dtype='object')

In [34]:
indexes = filtered_df.index.tolist()
print(indexes)

['AFG', 'BDI', 'BEN', 'BFA', 'CAF', 'COD', 'COM', 'ERI', 'ETH', 'GIN', 'GMB', 'GNB', 'HTI', 'LBR', 'MDG', 'MLI', 'MOZ', 'MWI', 'NER', 'NPL', 'PRK', 'RWA', 'SEN', 'SLE', 'SOM', 'SSD', 'SYR', 'TCD', 'TGO', 'TJK', 'TZA', 'UGA', 'YEM', 'ZWE']

In [32]:
# Extract population data for the specified country
country_data = filtered_df.loc[filtered_df.index == 'AFG']
print(country_data)

                  Region Income Group  \
Country Code
AFG           South Asia   Low income

                                                  Special Notes
Country Code
AFG           Fiscal year end: March 20; reporting period fo...

In [37]:
# Extracting data for specific indices along with all years
data_from_other_df = population_df.loc[indexes]
print(data_from_other_df)

                    1960        1961        1962        1963        1964  \
Country Code
AFG            8996351.0   9166764.0   9345868.0   9533954.0   9731361.0
BDI            2786106.0   2839666.0   2893669.0   2949926.0   3010859.0
BEN            2431622.0   2465867.0   2502896.0   2542859.0   2585965.0
BFA            4829288.0   4894580.0   4960326.0   5027821.0   5098890.0
CAF            1503508.0   1529227.0   1556661.0   1585763.0   1616516.0
COD           15248251.0  15637733.0  16041263.0  16461930.0  16903923.0
COM             191121.0    194139.0    197198.0    200372.0    203753.0
ERI            1397491.0   1432640.0   1469645.0   1508273.0   1548187.0
ETH           22151278.0  22671190.0  23221389.0  23798429.0  24397024.0
GIN            3577409.0   3633652.0   3690664.0   3749505.0   3811659.0
GMB             367928.0    376737.0    383523.0    389072.0    394553.0
GNB             616409.0    623415.0    629969.0    636586.0    643961.0
HTI            3866159.0   3943364.0   4022593.0   4103730.0   4186640.0
LBR            1120313.0   1144986.0   1170480.0   1196890.0   1224344.0
MDG            5099373.0   5223568.0   5352503.0   5486319.0   5625164.0
MLI            5263733.0   5322266.0   5381368.0   5441613.0   5503752.0
MOZ            7388695.0   7541325.0   7699139.0   7862072.0   8030025.0
MWI            3618595.0   3700023.0   3784439.0   3872118.0   3963417.0
NER            3388764.0   3486295.0   3588156.0   3693866.0   3802640.0
NPL           10063011.0  10221759.0  10384204.0  10552267.0  10728197.0
PRK           11424176.0  11665595.0  11871712.0  12065468.0  12282419.0
RWA            2933428.0   2996096.0   3050604.0   3102972.0   3161724.0
SEN            3206749.0   3295293.0   3386863.0   3481745.0   3580312.0
SLE            2297110.0   2329204.0   2363013.0   2398414.0   2435204.0
SOM            2755947.0   2814096.0   2874190.0   2936443.0   3001126.0
SSD            2955152.0   3011110.0   3069913.0   3131557.0   3196113.0
SYR            4573512.0   4721896.0   4875422.0   5034646.0   5200336.0
TCD            3001593.0   3060355.0   3121216.0   3183551.0   3246505.0
TGO            1580513.0   1597526.0   1612755.0   1631764.0   1662073.0
TJK            2087038.0   2159123.0   2236559.0   2318234.0   2402455.0
TZA           10074507.0  10373398.0  10683906.0  11005905.0  11339097.0
UGA            6788214.0   7006633.0   7240174.0   7487429.0   7746198.0
YEM            5172135.0   5260501.0   5351799.0   5446063.0   5543339.0
ZWE            3747369.0   3870756.0   3999419.0   4132756.0   4269863.0

                    1965        1966        1967        1968        1969  ...  \
Country Code                                                              ...
AFG            9938414.0  10152331.0  10372630.0  10604346.0  10854428.0  ...
BDI            3077876.0   3152723.0   3234023.0   3316233.0   3391753.0  ...
BEN            2632356.0   2682159.0   2735307.0   2791590.0   2850661.0  ...
BFA            5174870.0   5256363.0   5343019.0   5434041.0   5528174.0  ...
CAF            1648833.0   1682885.0   1718603.0   1755344.0   1792220.0  ...
COD           17369883.0  17861881.0  18378214.0  18913203.0  19458904.0  ...
COM             207424.0    211478.0    215897.0    220575.0    225325.0  ...
ERI            1589179.0   1631147.0   1674204.0   1718525.0   1764343.0  ...
ETH           25013626.0  25641376.0  26281208.0  26946079.0  27654161.0  ...
GIN            3877806.0   3948869.0   4023486.0   4097191.0   4164003.0  ...
GMB             400861.0    408180.0    416339.0    425510.0    435798.0  ...
GNB             652562.0    662463.0    673462.0    685476.0    698338.0  ...
HTI            4271133.0   4357484.0   4445530.0   4534234.0   4622208.0  ...
LBR            1252972.0   1282814.0   1313941.0   1346491.0   1380637.0  ...
MDG            5769218.0   5918595.0   6073526.0   6234465.0   6401921.0  ...
MLI            5568484.0   5635859.0   5706199.0   5780835.0   5861412.0  ...
MOZ            8203076.0   8381455.0   8565674.0   8756481.0   8954809.0  ...
MWI            4058673.0   4158124.0   4262005.0   4370650.0   4484439.0  ...
NER            3913934.0   4027758.0   4144395.0   4263745.0   4385758.0  ...
NPL           10913724.0  11109884.0  11316826.0  11534264.0  11761473.0  ...
PRK           12547525.0  12864954.0  13222694.0  13609982.0  14010339.0  ...
RWA            3232934.0   3319082.0   3418317.0   3527263.0   3640591.0  ...
SEN            3682876.0   3789211.0   3899237.0   4013539.0   4132844.0  ...
SLE            2473294.0   2512652.0   2553529.0   2596568.0   2642608.0  ...
SOM            3068437.0   3143836.0   3228495.0   3313786.0   3387632.0  ...
SSD            3263638.0   3334191.0   3407800.0   3484537.0   3564465.0  ...
SYR            5373137.0   5553246.0   5740710.0   5935860.0   6139048.0  ...
TCD            3309573.0   3372170.0   3434811.0   3499352.0   3568376.0  ...
TGO            1708630.0   1774029.0   1855442.0   1945780.0   2034907.0  ...
TJK            2487953.0   2574478.0   2662230.0   2750894.0   2840228.0  ...
TZA           11683528.0  12038903.0  12406040.0  12787489.0  13186557.0  ...
UGA            8014401.0   8292776.0   8580676.0   8872920.0   9162833.0  ...
YEM            5643643.0   5748588.0   5858638.0   5971407.0   6083619.0  ...
ZWE            4410212.0   4553433.0   4700041.0   4851431.0   5009514.0  ...

                    2008        2009        2010        2011        2012  \
Country Code
AFG           27294031.0  28004331.0  28803167.0  29708599.0  30696958.0
BDI            8212264.0   8489031.0   8766930.0   9043508.0   9319710.0
BEN            8696916.0   8944706.0   9199259.0   9460802.0   9729160.0
BFA           14689726.0  15141099.0  15605217.0  16081904.0  16571216.0
CAF            4345386.0   4404230.0   4448525.0   4476153.0   4490416.0
COD           60373608.0  62409435.0  64523263.0  66713597.0  68978682.0
COM             657229.0    673252.0    689692.0    706569.0    723868.0
ERI            4232636.0   4310334.0   4390840.0   4474690.0         NaN
ETH           83184892.0  85416253.0  87702670.0  90046756.0  92444183.0
GIN           10323142.0  10556524.0  10794170.0  11035170.0  11281469.0
GMB            1588572.0   1639560.0   1692149.0   1746363.0   1802125.0
GNB            1480841.0   1517448.0   1555880.0   1596154.0   1638139.0
HTI            9705029.0   9852870.0   9999617.0  10145054.0  10289210.0
LBR            3662993.0   3811528.0   3948125.0   4070167.0   4181563.0
MDG           19996469.0  20569121.0  21151640.0  21743949.0  22346573.0
MLI           14138216.0  14606597.0  15075085.0  15540989.0  16006670.0
MOZ           22846758.0  23524063.0  24221405.0  24939005.0  25676606.0
MWI           14271234.0  14714602.0  15167095.0  15627618.0  16097305.0
NER           15228525.0  15813913.0  16425578.0  17064636.0  17731634.0
NPL           26475859.0  26741103.0  27023137.0  27327147.0  27649925.0
PRK           24335146.0  24463021.0  24591599.0  24722298.0  24854034.0
RWA            9708169.0   9977446.0  10246842.0  10516071.0  10788853.0
SEN           12203957.0  12550917.0  12916229.0  13300910.0  13703513.0
SLE            6165372.0   6310260.0   6458720.0   6611692.0   6766103.0
SOM           11369276.0  11707990.0  12053223.0  12404725.0  12763776.0
SSD            9263136.0   9670667.0  10067192.0  10448857.0  10818258.0
SYR           20325443.0  20824893.0  21018834.0  20863993.0  20420701.0
TCD           11133861.0  11502786.0  11887202.0  12288651.0  12705135.0
TGO            6161796.0   6330472.0   6502952.0   6679282.0   6859482.0
TJK            7309728.0   7472819.0   7641630.0   7815949.0   7995062.0
TZA           43270144.0  44664231.0  46098591.0  47570902.0  49082997.0
UGA           31663896.0  32771895.0  33915133.0  35093648.0  36306796.0
YEM           22356391.0  22974929.0  23606779.0  24252206.0  24909969.0
ZWE           13558469.0  13810599.0  14086317.0  14386649.0  14710826.0

                    2013        2014        2015         2016         2017
Country Code
AFG           31731688.0  32758020.0  33736494.0   34656032.0   35530081.0
BDI            9600186.0   9891790.0  10199270.0   10524117.0   10864245.0
BEN           10004451.0  10286712.0  10575952.0   10872298.0   11175692.0
BFA           17072723.0  17585977.0  18110624.0   18646433.0   19193382.0
CAF            4499653.0   4515392.0   4546100.0    4594621.0    4659080.0
COD           71316033.0  73722860.0  76196619.0   78736153.0   81339988.0
COM             741500.0    759385.0    777424.0     795601.0     813912.0
ERI                  NaN         NaN         NaN          NaN          NaN
ETH           94887724.0  97366774.0  99873033.0  102403196.0  104957438.0
GIN           11536615.0  11805509.0  12091533.0   12395924.0   12717176.0
GMB            1859324.0   1917852.0   1977590.0    2038501.0    2100568.0
GNB            1681495.0   1725744.0   1770526.0    1815698.0    1861283.0
HTI           10431776.0  10572466.0  10711061.0   10847334.0   10981229.0
LBR            4286291.0   4390737.0   4499621.0    4613823.0    4731906.0
MDG           22961146.0  23589801.0  24234088.0   24894551.0   25570895.0
MLI           16477818.0  16962846.0  17467905.0   17994837.0   18541980.0
MOZ           26434372.0  27212382.0  28010691.0   28829476.0   29668834.0
MWI           16577147.0  17068838.0  17573607.0   18091575.0   18622104.0
NER           18426372.0  19148219.0  19896965.0   20672987.0   21477348.0
NPL           27985310.0  28323241.0  28656282.0   28982771.0   29304998.0
PRK           24985976.0  25116363.0  25243917.0   25368620.0   25490965.0
RWA           11065151.0  11345357.0  11629553.0   11917508.0   12208407.0
SEN           14120320.0  14546111.0  14976994.0   15411614.0   15850567.0
SLE            6922079.0   7079162.0   7237025.0    7396190.0    7557212.0
SOM           13132349.0  13513125.0  13908129.0   14317996.0   14742523.0
SSD           11177490.0  11530971.0  11882136.0   12230730.0   12575714.0
SYR           19809141.0  19203090.0  18734987.0   18430453.0   18269868.0
TCD           13133589.0  13569438.0  14009413.0   14452543.0   14899994.0
TGO            7042948.0   7228915.0   7416802.0    7606374.0    7797694.0
TJK            8177809.0   8362745.0   8548651.0    8734951.0    8921343.0
TZA           50636595.0  52234869.0  53879957.0   55572201.0   57310019.0
UGA           37553726.0  38833338.0  40144870.0   41487965.0   42862958.0
YEM           25576322.0  26246327.0  26916207.0   27584213.0   28250420.0
ZWE           15054506.0  15411675.0  15777451.0   16150362.0   16529904.0

[34 rows x 58 columns]

In [39]:
# Assuming 'other_df' is the DataFrame with years as columns and population as rows
# 'indexes' contains the indices obtained from 'filtered_df'

# Extracting data for specific indices along with all years as an array without indices
data_array = population_df.loc[indexes].values.T
print(data_array)

[[ 8996351.  2786106.  2431622. ...  6788214.  5172135.  3747369.]
 [ 9166764.  2839666.  2465867. ...  7006633.  5260501.  3870756.]
 [ 9345868.  2893669.  2502896. ...  7240174.  5351799.  3999419.]
 ...
 [33736494. 10199270. 10575952. ... 40144870. 26916207. 15777451.]
 [34656032. 10524117. 10872298. ... 41487965. 27584213. 16150362.]
 [35530081. 10864245. 11175692. ... 42862958. 28250420. 16529904.]]

In [41]:
import numpy as np

# Assuming 'other_df' is the DataFrame with years as columns and population as rows
# 'indexes' contains the indices obtained from 'filtered_df'

# Extracting data for specific indices along with all years as an array without indices
data_array = population_df.loc[indexes].values

# Reshape the array to have two columns (year, population) and transpose it
reshaped_array = np.column_stack((population_df.columns, data_array.T))

# Checking the shape
print(reshaped_array)

[['1960' 8996351.0 2786106.0 ... 6788214.0 5172135.0 3747369.0]
 ['1961' 9166764.0 2839666.0 ... 7006633.0 5260501.0 3870756.0]
 ['1962' 9345868.0 2893669.0 ... 7240174.0 5351799.0 3999419.0]
 ...
 ['2015' 33736494.0 10199270.0 ... 40144870.0 26916207.0 15777451.0]
 ['2016' 34656032.0 10524117.0 ... 41487965.0 27584213.0 16150362.0]
 ['2017' 35530081.0 10864245.0 ... 42862958.0 28250420.0 16529904.0]]

In [ ]:
### START FUNCTION
def get_total_pop_by_income(income_group_name='Low income'):
    
    return

### END FUNCTION