<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exercise: Introduction to data visualisation

Â© ExploreAI Academy

In this exercise, we will reinforce our knowledge of the fundamental concepts of data visualisation by applying Matplotlib, and data preparation and analysis techniques, to a real-world scenario.

## Learning objectives
By the end of this exercise, you should be able to:

* Group, sort, and sum data to plot an insightful visual.

### Import packages and data

In [1]:
# Import libraries 
import matplotlib.pyplot as plt #used for plotting data 
import numpy as np #used for mathematical operations
import pandas as pd #used to load CSV data

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10280\241773990.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd #used to load CSV data

For this exercise, we will be using [the tips](https://www.kaggle.com/jsphyg/tipping) dataset, which consists of customer tip data collected over a period of two and half months in early 1990 from one restaurant by a food server.

Let's go ahead and import our data.

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Explore-AI/Public-Data/master/Data/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

## Exercise 

The restaurant would like to add an expansion to accommodate the growing number of customers they anticipate will visit the restaurant during the festive season. In the expansion, they have decided to increase the seating area for non-smoking customers but are uncertain if they should increase the area of the restaurant that is designated for smoking customers too. They have decided to use the data captured by the server to assist them in making this decision. 

Let's see if we can help them to make a decision based on the "Total bill"  racked up by the smoking and non-smoking customers to see if an expansion to the smoking area of the restaurant is worth their while. 

### Exercise 1

Group and sum the data by the number of values for each `smoker` category.

In [ ]:
# Your solution here...

### Exercise 2

Sort the indices and values that we will use as our `y-axis` and `x-axis`.

In [ ]:
# Your solution here...

### Exercise 3

Plot a bar graph of the total bill (y-axis) for smoking vs non-smoking customers (x-axis).

In [ ]:
# Your solution here...

Interpret the results of the plot.

## Solutions

### Exercise 1

In [ ]:
# Grouping and summing by the 'smoker' category
title_smoker = df.groupby('smoker')[['total_bill','tip','size']].sum()

# Displaying the result
print(title_smoker)

### Exercise 2

In [ ]:
smoker_status = title_smoker.total_bill.sort_values().index # sort the indices and store them under the variable smoker_status
bill = title_smoker.total_bill.sort_values() # sort the rest of the data and store it under the variable bill
print(bill)

### Exercise 3

In [ ]:
# Plot total bill (y-axis) per smoker status (x-axis) 
# We set the x-axis, y-axis, and the colour of the bars
plt.bar(smoker_status, bill, color= 'green')

# Set x and y axis titles
plt.ylabel('Total Bill')
plt.xlabel('\n Smoker') 
# Set graph title
plt.title('Total bill for smoking and non-smoking customers \n')

# Show graph
plt.show()

As we can see, non-smokers have a larger total bill than smokers. This shows that investing in more seating for non-smoking consumers is a wise idea. The overall bill incurred by smoking customers is also significant (though lower than the non-smoking customers), so investing in expanding the section of the restaurant allocated for smoking customers may also be advantageous.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>